Repository Lotus-Gaming-DE/wcr-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, ruff, check-yaml

black:
  name: black
  entry: black
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

ruff:
  name: ruff
  entry: ruff check
  language: system

check-yaml:
  name: check-yaml
  entry: check-yaml
  language: python

Add env-based logging and CI audit
  .env.example
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  app/logging.py
  main.py
  requirements-dev.txt
  tests/test_api.py
  tests/test_logging.py
Due: black, flake8, ruff, check-yaml

Fix newline at end of units data file
  data/units.json
Due: none

style: add module docstrings
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  LICENSE
  README.md
  main.py
  pytest.ini
  requirements-dev.txt
  src/wcr_api/__init__.py
  src/wcr_api/api.py
  src/wcr_api/loaders.py
  src/wcr_api/logging.py
  src/wcr_api/middleware.py
  tests/conftest.py
  tests/test_api.py
  tests/test_loader.py
  tests/test_logging.py
Due: black, flake8, ruff, check-yaml

docs: clarify start command with PYTHONPATH
  CHANGELOG.md
  README.md
Due: none

Add Dependabot configuration
  .github/dependabot.yml
  CHANGELOG.md
  README.md
  requirements-dev.txt
  tests/test_dependabot.py
Due: black, flake8, ruff, check-yaml

CI: add Snyk scanning
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
Due: check-yaml

Document Snyk token
  .env.example
  CHANGELOG.md
  README.md
Due: none

Pin Snyk setup action
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
Due: check-yaml

Fix Snyk action version
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
Due: check-yaml

Authenticate Snyk setup
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
Due: check-yaml

ci: add snyk security test
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
Due: check-yaml

Update Snyk step
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
Due: check-yaml

Pin Snyk action and note secret
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
Due: check-yaml

ci: skip snyk in forked prs
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
Due: check-yaml

ci: cache pre-commit hooks
  .github/workflows/ci.yml
  CHANGELOG.md
Due: check-yaml

ci: capture railway logs
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
Due: check-yaml

Add pip-audit pre-commit hook
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
Due: check-yaml

chore: daily dependabot
  .github/dependabot.yml
  CHANGELOG.md
  README.md
  tests/test_dependabot.py
Due: black, flake8, ruff, check-yaml

CI: generate sbom
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
  requirements-dev.txt
Due: check-yaml

chore: ignore data directory
  .gitignore
  README.md
Due: none

docs: fix CI badge link
  README.md
Due: none

docs: document security scanning
  CHANGELOG.md
  README.md
Due: none

Pin pip-audit version
  CHANGELOG.md
  README.md
  requirements-dev.txt
Due: none

docs: clarify dependabot process and CI caching
  CHANGELOG.md
  README.md
Due: none

docs: detail dependabot ci
  .github/dependabot.yml
  CHANGELOG.md
  README.md
Due: check-yaml

Add async test support and coverage
  .github/workflows/ci.yml
  .gitignore
  README.md
  pytest.ini
  requirements-dev.txt
  tests/conftest.py
  tests/test_async_api.py
Due: black, flake8, ruff, check-yaml

Localise 404 error message
  README.md
  src/wcr_api/api.py
  tests/test_api.py
Due: black, flake8, ruff

docs: rework docs and add comments
  .env.example
  CHANGELOG.md
  README.md
  src/wcr_api/loaders.py
  src/wcr_api/middleware.py
  tests/test_api.py
  tests/test_async_api.py
Due: black, flake8, ruff

Document manual Railway logs workflow
  .github/workflows/railway_logs.yml
  CHANGELOG.md
  README.md
Due: check-yaml

docs: update security scanning info
  .github/workflows/ci.yml
  README.md
Due: check-yaml

fix(ci): use requirements subcommand for cyclonedx
  .github/workflows/ci.yml
  README.md
Due: check-yaml

chore(ci): wildcard SBOM artifact
  .github/workflows/ci.yml
Due: check-yaml

fix: update SBOM command
  .github/workflows/ci.yml
  README.md
Due: check-yaml

fix(ci): add subcommand for cyclonedx
  .github/workflows/ci.yml
  README.md
Due: check-yaml

chore: align workflows and docs with guidelines
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/railway_logs.yml
  README.md
  scripts/list_units.py
  tests/test_dependabot.py
Due: black, flake8, ruff, check-yaml

chore: align repo with Codex guidelines
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/railway_logs.yml
  CHANGELOG.md
  README.md
  scripts/fetch_data.py
  tests/test_dependabot.py
Due: black, flake8, ruff, check-yaml

fix(ci): install railway cli
  .github/workflows/ci.yml
  CHANGELOG.md
Due: check-yaml

fix: install updated railway cli
  .github/workflows/ci.yml
  .github/workflows/railway_logs.yml
  CHANGELOG.md
  README.md
Due: check-yaml

fix: authenticate Railway CLI via apiKey
  .github/workflows/ci.yml
  .github/workflows/railway_logs.yml
  CHANGELOG.md
  README.md
Due: check-yaml

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  ruff: any of: \.py$
  check-yaml: any of: \.(yml|yaml)$
