Repository Lotus-Gaming-DE/wcr-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, ruff, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: ruff
        name: ruff
        entry: ruff check
        language: system
        types: [python]
      - id: check-yaml
        name: check-yaml
        entry: check-yaml
        language: python
        files: \.(yml|yaml)$
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: trailing-whitespace-fixer
        language: python

fix: rely on RAILWAY_TOKEN for CLI auth
  .github/workflows/ci.yml
  .github/workflows/railway_logs.yml
  CHANGELOG.md
  README.md
Due: check-yaml

fix: remove deprecated follow flag
  .env.example
  .github/workflows/ci.yml
  .github/workflows/railway_logs.yml
  CHANGELOG.md
  README.md
Due: check-yaml

ci: login to railway before streaming logs
  .github/workflows/ci.yml
  .github/workflows/railway_logs.yml
  CHANGELOG.md
  README.md
Due: check-yaml

Add data fetch script and update workflows
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/railway_logs.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  scripts/fetch_data.py
  tests/test_dependabot.py
  tests/test_fetch_data_script.py
Due: black, flake8, ruff, check-yaml

Fix lint errors and adjust fetch script tests
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/railway_logs.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  scripts/fetch_data.py
  tests/test_dependabot.py
  tests/test_fetch_data_script.py
Due: black, flake8, ruff, check-yaml

chore: align project with codex guidelines
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/railway_logs.yml
  .pre-commit-config.yaml
  README.md
  scripts/fetch_data.py
  tests/test_dependabot.py
Due: black, flake8, ruff, check-yaml

refactor: support configurable data directory
  .env.example
  .gitignore
  CHANGELOG.md
  README.md
  data/categories.json
  data/units.json
  src/wcr_api/loaders.py
  tests/conftest.py
  tests/data/categories.json
  tests/data/units.json
Due: black, flake8, ruff
